<footer class="site-footer">
  <p>
    <strong
      >Instituto Estadual de Proteção e Defesa do Consumidor (Procon-ES)</strong
    >
  </p>
  <p>Avenida Jerônimo Monteiro, nº 935 - Centro</p>
  <p>CEP: 29.010-003 - Vitória / Espírito Santo</p>
  <p>Tel.: 151</p>
  <p style="margin-top: 1rem; font-size: 0.9rem; color: #cfd8dc">
    2025 / Desenvolvido pelo GTI - PROCON/ES
  </p>
</footer>
