<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Handler para iisnode -->
    <handlers>
      <add name="iisnode" path="src/app.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- Reescreve todas as requisições para app.js -->
    <rewrite>
      <rules>
        <rule name="NodeJS">
          <match url="/*" />
          <action type="Rewrite" url="src/app.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- Configurações de log-->
    <iisnode 
      loggingEnabled="true"
      logDirectory="iisnode" />
  </system.webServer>
</configuration>
